/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
          ╰────────────╯ ╰────────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <38>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

COMBO(togkeypad, &tog 2, 28 29) 
COMBO(esc, &kp ESC, 0 1)
COMBO(dash, &kp MINUS, 1 2)
COMBO(plus, &kp PLUS, 2 3)
COMBO(equals, &kp EQUAL, 3 4)
COMBO(bluetooth_clear, &bt BT_CLR, 0 1 2 3)
COMBO(left_bracket, &kp LBKT, 5 6)
COMBO(right_bracket, &kp RBKT, 6 7)
COMBO(left_brace, &kp LBRC, 7 8)
COMBO(right_brace, &kp RBRC, 8 9)
COMBO(pipe, &kp PIPE, 6 7 8)
COMBO(shift_tab, &kp LS(TAB), 10 11)
COMBO(tab, &kp TAB, 11 12)
COMBO(colon, &kp COLON, 12 13)
COMBO(semicolon, &kp SEMI, 13 14)
COMBO(left_paren, &kp LPAR, 15 16)
COMBO(right_paren, &kp RPAR, 16 17)
COMBO(double_quotes, &kp DQT, 17 18)
COMBO(single_quote, &kp SQT, 18 19)
COMBO(left_alt, &skq LALT, 20 21)
COMBO(underscore, &kp UNDER, 21 22)
COMBO(tilde, &kp TILDE, 22 23)
COMBO(grave, &kp GRAVE, 23 24)
COMBO(less_than, &kp LT, 25 26)
COMBO(greater_than, &kp GT, 26 27)
COMBO(right_alt, &skq RALT, 28 29)
COMBO(bluetooth1, &bt BT_SEL 0, 6 7 8 9)
COMBO(bluetooth2, &bt BT_SEL 1, 16 17 18 19)
